@import "wallust/colors-eww.scss";
@import "scss/bar";
@import "scss/calendar.scss";
@import "scss/wswid.scss";
@import "scss/music.scss";
@import "scss/sysinfo.scss";
@import "scss/windows.scss";
@import "scss/clock.scss";
@import "scss/quickActions.scss";
@import "scss/alarm.scss";

* {
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
}
